{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1><a href="/">{{.Site.Title}}</a></h1>
      {{ .Render "mainnav" }}
    </header>
    <section id="posts">
        <article>
            <h1>Posts</h1>
            <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
            {{ end }}
            </ul>
        </article>
    </section>
  </main>
{{ end }}
