<nav>
    {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"><- {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}} -></a>
    {{ end }}
</nav>

<article id="main">
    <h1 id="title"><a href="{{ .URL }}">{{ .Title }}</a></h1>

    <span class="article-info">
        Published on {{ .PublishDate.Format "January 2, 2006" }}
    </span>

    <span class="word-count">{{ .WordCount }} Words</span>

    {{ with .Params.tags }}
    <ul class="tags">
        {{ range . }}
            <li>
                <a href="{{ "tags" | absURL }}/{{ . | urlize }}">#{{ . }}</a>
            </li>
        {{ end }}
    </ul>
    {{ end }}
    <div>
        {{ .Content }}
    </div>

    <section>
      <script src="https://giscus.app/client.js"
        data-repo="skyleite/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxOTQ0NTA4NDE="
        data-category="Announcements"
        data-category-id="DIC_kwDOC5cVmc4CQf74"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </section>
</article>
