body {
  font-family: Inconsolata, monospace;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: contextual;

  background-color: #f9f9f9;
  line-height: 1.35rem;
  font-size: 1.05rem;
}

main {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 a:link,
    a:visited {
      text-decoration: none;
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

article {
  padding: 1rem;
  max-width: 1100px;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin: 0.8rem 0 0.8rem 0;
    line-height: 2rem;
  }

  span.word-count {
    float: right;
  }

  ul.tags {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 1rem;

    li:not(:last-child) {
      margin-right: 2rem;
    }
  }

  figure {
    text-align: center;
  }

  code:not([data-lang]) {
    font-size: 0.8em;
    background-color: grey;
    color: white;
    padding: 2px 5px 2px 5px;
    box-decoration-break: clone;
  }

  .highlight {
    pre {
      border-radius: 0.4rem;
      padding: 1rem;
    }
  }
}

div#content > nav {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section#posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("inconsolata-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("inconsolata-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
