<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $sass := resources.Get "main.scss" }}
    {{ $styles := $sass | resources.ToCSS }}

    {{ if .Site.IsServer }}
	<script src="https://livejs.com/live.js"></script>
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
        {{ $styles := $styles | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}

    <title>{{ .Site.Title }}</title>
</head>
