<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $sass := resources.Get "main.scss" }}
    {{ $styles := $sass | resources.ToCSS }}
    {{ $articleTitle := "" }}

    {{ if eq .Title .Site.Title }}
      {{ $articleTitle = (index (where .Site.RegularPages "Type" "==" "posts") 0).Title }}
    {{ else }}
      {{ $articleTitle = .Title }}
    {{ end }}

    {{ if .Site.IsServer }}
	<script src="https://livejs.com/live.js"></script>
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
        {{ $styles := $styles | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}

    <title>
        {{ $articleTitle }} | {{ .Site.Title }}
    </title>

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ $articleTitle }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
</head>
